* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans SC', sans-serif;
}
.all {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../image/back-01.png);
  background-position: center center;
  background-size: 100% 100%;
}
.all .c {
  background-color: #faa;
  z-index: 20;
  height: 60px;
  width: 62px;
  border-radius: 50%;
  position: fixed;
  top: 55.4%;
  left: 66%;
}
.all .header {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.all .header img {
  width: 100%;
}
.all .header .logo2 {
  display: none;
}
.all .header .contact {
  position: fixed;
  right: 0;
  bottom: 1rem;
  width: 0.6rem;
  display: none;
  z-index: 10;
}
.all .header .contactP {
  position: absolute;
  top: 10.14rem;
  right: 0;
  width: 1.2rem;
}
.all .logo-5 {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 0.4rem;
}
.all .logo-5 img {
  position: absolute;
  width: 100%;
  top: -1rem;
}
.all .text h2 {
  font-size: 0.5rem;
  color: #3b6bdd;
  text-align: center;
  text-shadow: 0.03rem 0.03rem #b6ab15;
  font-weight: bold;
  margin-top: 0.2rem;
}
.all .text p {
  margin-top: 0.1rem;
  font-size: 0.24rem;
  line-height: 0.24rem;
  text-align: center;
  font-weight: lighter;
  font-weight: 100;
  color: gray;
}
.all .text img {
  display: block;
  width: 70%;
  margin: -0.4rem auto -0.4rem;
}
.all .button-group {
  width: 100%;
}
.all .button-group a {
  text-decoration: none;
}
.all .button-group button {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 0.85rem;
  cursor: pointer;
}
.all .button-group .download {
  background: linear-gradient(to right, #85caff, #3b6bdd);
  color: #fff;
  border: none;
  font-size: 0.35rem;
  line-height: 0.7rem;
  border-radius: 0.34rem;
  text-align: center;
  margin-top: 0.2rem;
}
.all .button-group .ifcantdownload {
  border: 2px solid #4080ff;
  color: #4080ff;
  font-size: 0.25rem;
  line-height: 0.33rem;
  border-radius: 0.34rem;
  margin-top: 0.2rem;
  font-weight: 100;
}
.all .footer {
  width: 100%;
}
.all .footer img {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -0.2rem;
}
.all .qq-wrapper {
  margin: 0 auto;
  width: 50%;
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.all .qq-wrapper .h2-wrapper {
  display: flex;
  flex-direction: column;
  height: 157px;
  justify-content: center;
  margin-right: 10px;
  color: #777;
  width: 100%;
}
.all .qq-wrapper .h2-wrapper p {
  font-size: 26px;
  text-align: center;
}
.all .qq-wrapper img {
  display: flex;
  width: 50%;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.swiper-container {
  /* 輪播長和寬 */
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}
.swiper-slide img {
  height: 7.2rem;
  width: 80%;
}
.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: -14px;
}
@media screen and (min-width: 1200px) {
  html {
    background-image: url(../image/back-01.png);
    background-position: center center;
    background-size: 100% 100%;
    font-size: 145px;
  }
  .all {
    max-width: 1140px;
    background: none;
  }
  .all .header .logo1 {
    display: none;
  }
  .all .header .logo2 {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .all .header .contact {
    display: block !important;
    right: 10px;
  }
  .all .header .contactP {
    position: fixed;
    top: 3.5rem;
    z-index: 20;
    right: 0;
    width: 0.6rem;
  }
  .all .logo-5 {
    width: 70%;
  }
  .all .logo-5 img {
    top: -0.25rem;
  }
  .all #textimg {
    position: relative;
    top: 0.3rem;
    width: 50%;
    margin: 0 auto;
  }
  .all .button-group button {
    position: relative;
    top: 0.3rem;
    height: 0.4rem;
    width: 50%;
    width: 40%;
  }
  .all .button-group .download {
    line-height: 0.16rem;
    font-size: 0.15rem;
  }
  .all .button-group .ifcantdownload {
    line-height: 0.16rem;
    font-size: 0.15rem;
  }
  .all .text {
    position: relative;
    top: 0.3rem;
  }
  .all .text p {
    font-size: 0.12rem;
    line-height: 0.12rem;
  }
  .all .footer {
    position: relative;
    top: 0.3rem;
  }
  .all .footer img {
    width: 50%;
  }
  .all .qq-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .all .qq-wrapper .h2-wrapper {
    justify-content: center;
  }
  .all .qq-wrapper img {
    width: 150px;
  }
  .swiper-container {
    top: 0.2rem;
  }
  .swiper-container-horizontal .swiper-pagination-bullets {
    bottom: -40px;
  }
  .swiper-slide img {
    height: 4.15rem;
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 160px;
  }
  .all {
    max-width: 1200px;
  }
  .all .header .contact {
    right: 0.5rem;
    right: 10px;
  }
  .all .button-group .ifcantdownload {
    border: 5px solid #4080ff;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 200px;
  }
  .all {
    max-width: 1500px;
  }
  .all .header .contact {
    right: 10px;
  }
  .all .button-group .ifcantdownload {
    border: 5px solid #4080ff;
  }
}
@media screen and (max-width: 500px) {
  .all .qq-wrapper .h2-wrapper {
    display: flex;
    flex-direction: column;
    height: 157px;
    justify-content: center;
    margin-right: 10px;
    color: #777;
    width: 100%;
  }
  .all .qq-wrapper .h2-wrapper p {
    font-size: 26px;
    text-align: center;
  }
  .all .qq-wrapper img {
    width: 300px;
    height: 300px;
  }
}
